html{
    background-color:#191b22;
}

body {
    font-family:'Script';
    color:#fff;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.invisible {
    display: none;
}

.progress {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    top: 0;
    position: fixed;
}

.card-panel{
    background-color:#8b0000;
    color:#fff;
}

.card-panel button{
    background-color:#808080
}

/* Loading */
h1{
    font-family:'arial unicode ms';
    width:300px;
    font-size:14px;
    padding-top:20px;
    margin-left:160px;
}

.loaddiv{
    font-family:'arial unicode ms';
    font-size:14px;
    background-color:#313543;
    color:#fff;
    width:600px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;    
    border-radius:5px;
}

.loadtable{
    width:500px;
    margin-left:50px;
}

.submit{
    background-color:#2b90d9;
    width:300px;
    border:none ;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

/* Summary */
.result{
    width:80%;
    background-color:#313543;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    border-radius:5px;
    margin-top:10px;
}

.opclbutton{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#2b90d9;
    color:#fff;
    border:none;
    border-radius:5px;
}

a{
    color:#9baec8;
}

.readlessbutton{
    clear:both;
    text-align:center;
}

.post{
    float:left;
    margin-left:5%;
}

.six{
    text-align:right;
}

.others{
    float:right;
    margin-right:5%;
}

/* Figure */
.figure{
    text-align:center;
}

.figure table{
    margin-left:auto;
    margin-right:auto;
    width:300px;
}

td, th{
    padding:0px 0px;
}

b{
    font-weight:100;
}

/* Ranking */
.ranking{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.ranking div{
    float:left;
    margin-left:20px;
}
