html{
    background-color:#191b22;
}

body {
    font-family:'Script';
    color:#fff;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    overflow-y:scroll;
}

.invisible {
    display: none;
}

/* Header */
.progress {
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    top: 0;
    position: fixed;
}

.card-panel{
    background-color:#8b0000;
    color:#fff;
}

.card-panel button{
    background-color:#191b22;
    border:1px solid #000000;
    border-radius:2px;
}

/* Loading */
#inputFile {
    position: relative;
    text-align: center;
}

#dropArea {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 0;
    margin:0px;
    background: rgba(22, 165, 191, 0);
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}

#dropArea.dragover {
    border: 2px solid #16a5bf;
    background: rgba(22, 165, 191, 0.6);
}

#uploadFile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 300px;
    height: 80px;
    opacity: 0;
}

#upFileWrap{
    width:300px;
    height:80px;
    display:inline-block;
    margin-top:100px;
    margin-bottom:40px;
}

#inputFileWrap {
    position: relative;
    display: inline-block;
}

#btnInputFile,
#btnChangeFile {
    display: table;
    width: 300px;
}

#btnChangeFile {
    display: none;
}

#btnInputFile span,
#btnChangeFile span {
    position: relative;
    z-index: 2;
    display: table-cell;
    width: 300px;
    height: 80px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #333;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
}

#upFileWrap.selected #btnInputFile {
    display: none;
}

#upFileWrap.selected #btnChangeFile {
    display: table;
}

h1{
    font-family:'arial unicode ms';
    width:300px;
    font-size:14px;
    padding-top:20px;
    margin-left:160px;
}

.dropzone{
    width:300px;
    height:300px;
}

#load{
    font-family:'arial unicode ms';
    font-size:14px;
    background-color:#313543;
    color:#fff;
    width:600px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;    
    border-radius:5px;
}

.loadtable{
    width:500px;
    margin-left:50px;
}

.submit{
    clear:both;
    background-color:#2b90d9;
    width:300px;
    border:none;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

/* Summary */
.result{
    width:80%;
    background-color:#313543;
    margin-left:auto;
    margin-right:auto;
    padding-top:0;
    border-radius:5px;
    margin-top:10px;
}

.opclbutton{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#2b90d9;
    color:#fff;
    border:none;
    border-radius:5px;
}

a{
    color:#9baec8;
}

.readlessbutton{
    clear:both;
    text-align:center;
}

.post{
    float:left;
    margin-left:5%;
}

.others{
    float:right;
    margin-right:5%;
}

/* Figure */
.figure{
    text-align:center;
}

.figure table{
    margin-left:auto;
    margin-right:auto;
    width:250px;
}

td, th{
    padding:0px 0px;
    font-weight:100;
}

b{
    font-weight:100;
}

.downloadbutton{
    text-align:right;
    margin-right:10px;
}
/* Ranking */
.ranking{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;   
}
/*
.ranking div{
    float:left;
    margin-left:20px;
}
*/

.rankright{
    text-align:right;
}

/* Search */
.search{
    width:90%;
    height:100%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.searchbox{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.searchbox div{
    width:100px;
    text-align:center;
    float:left;
    margin-left:auto;
    margin-right:auto;
}
.search table{
    table-layout:fixed;
    word-wrap:break-word;
}

.searchleft{
    width:180px; 
}

/* Footer */
.footer{
    margin-top:10px;
    font-size:14px;
    padding-top:10px;
    padding-bottom:10px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    background-color:#313543;
    border-radius:5px;
    margin-bottom:5%;
}

.foot{
    width:90%;
    margin-left:auto;
    margin-right:auto;  
}

h2{
    font-size:14px;
    margin-top:5px;
    margin-bottom:10px;
}
